@charset "UTF-8";
*{
    margin:0; padding:0;
   font-family: 'Gaegu', sans-serif;
font-family: 'Hi Melody', sans-serif;
font-family: 'Sunflower', sans-serif;
}
a{text-decoration:none; color:black; display:block;}
li{list-style:none;}
/* * * * * header * * * * * */
/* * * * * header .gnb * * * * * */

#content{
    width:1000px; margin:0 auto;
}
#content .lnb {
  height : 70px;
  text-align :center;
  margin :10px;
  padding:10px 0 10px 0; 
}
#content .lnb
#content .lnb ul{
	overflow: hidden;
	width:300px;
	margin: 0 auto;
}
#content .lnb ul li {
	margin: 5px;
	float:right;
	padding:5px 40px;
	line-height: 15px;
}
/* * * * * #content .section1 * * * * */
#content .section1 {
    /*width:100%;*/
    overflow: hidden;
}

#content .section1 > div {
    border: 1px solid gray;
    box-sizing: border-box;
    float: left;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

#content .section1 .slide_banner {
    width: 700px;
}

#content .section1 .side_banner {
    width: 300px;
}
/* * * * * #content .section2 * * * * */
#content .section2 .hit_product {
    margin: 10px 0;
}

#content .section2 .hit_product,
#content .section2 .md_product {
    border: 1px solid gray;
}

#content .section2 .hit_product ul,
#content .section2 .md_product ul {
    overflow: hidden;
    /*width:998px <= 마진5개 포함*/
}

#content .section2 ul > li{
    float: left;
    height: 400px;
    line-height: 400px;
    text-align: center;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 24%;
    margin-right: 0.8%;
}

#content .section2 ul > li:first-child {
    margin-left: 0.8%;
}
