@charset "UTF-8";
*{
	padding : 0 ;
	margin : 0 ;
	font-family: 'Gowun Dodum', sans-serif;
}
h1{
	font-size: 20px;
}
body{
	background-image: url('../img/mountains-7884039_1920.jpg');
	background-repeat : no-repeat;
	background-size : cover;
}

.logo{
	margin : 0 auto;
	padding : 0 auto;
}

h3{font-size: 20px; color: #ffffff;  text-align: center; }

#content_form {
	width: 800px; height:900px; 
	margin: 20px auto;
}


#content_form table {  width:70%;  overflow: hidden; background-color: #ffffff;}
img{
	float: left; margin: 50px; padding-left: 26px;
}

#content_form #join{margin : 50px;}			
#content_form table tr { background-color: #ffffff; height:100px; }
#content_form table tr:hover { background-color: #ededed;
	cursor: pointer;
}
#content_form td, #content_form th {text-align: center; padding:5px; }

#content_form caption {font-size: 22px; padding:10px; color: #ffffff}
#content_form a { text-decoration: none; color:black}
#content_form td input:not(.btn), #content_form td textarea{
	width: 90%;
}
#content_form td input[type="submit"]{
	width: 30%;
	height: 50px;
	background: lightblue;
	border: white;
	border-radius: 100%;
}

#content_form td div{
	 margin: 0 auto;
}

header{
width: 100%;
height: 80px;	
padding-top: 30px;
}
*{
	margin : 0 auto;
	padding : 0 auto;
	font-family: 'Gowun Dodum', sans-serif;
}

header{
width: 100%;
height: 80px;	
padding-top: 30px;
}
b{
	font-size: 20px;
}
body{
	background-image: url('../img/mountains-7884039_1920.jpg');
	background-repeat : no-repeat;
	background-size : cover;
}

#content_form2 {
			width: 800px; height:800px; 
			margin: 20px auto 0px;
	}
#midConfirmResult, #mpwChkResult, #memailConfirmResult{text-align: left; padding-left: 30px;}

#content_form2 table { width:90%; margin: 0px auto; background-color: #ffffff;}
#content_form2 table tr {  height:60px; }
#content_form2 table tr:hover { background-color: white;
	cursor: pointer;
}
#content_form2 td, #content_form2 th {text-align: center; padding:5px; }
#content_form2 caption {font-size: 18px; padding:10px;}
#content_form2 h2, #content_form2 b{text-align: center; color:green; }
#content_form2 a { text-decoration: none; color:black}
#content_form2 .left{text-align: left;}
#content_form2 .paging {text-align: center;}
#content_form2 td input:not(.btn), #content_form2 td textarea{
	width: 90%;
}
#content_form2 td div{
	width: 90%; margin: 0 auto;
}

